# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science.
- List commonly used libraries used by data scientists.
- Table of data science tools
- arithmatic examples

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. scikit learn

### data science tools
|tools|
|-----|
|apache spark|
|hadoop|
|MySQL|
|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [44]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [45]:
# this will convert 200 minutes to hours by diving by 60.
minutes=200
hrs=(minutes/60)
print(f"{minutes} minutes = {hrs} hrs")

200 minutes = 3.3333333333333335 hrs

## Author
Kashish Patel

## github repository link:
https://github.com/kashish334/first-IBM.git